.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.love, .death, .robots {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: rgb(7, 11, 245); /* เปลี่ยนสีตามต้องการ */
    border-radius: 50%;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.hidden {
    display: none;
}